<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.elevenst.terroir.product.registration.price.mapper.PriceMapper">

    <!-- 상품번호와 가격을 통해 상품의 할인정보를 조회함 -->
    <select id="getProductDiscountDataByPrdNo" resultType="java.lang.String" parameterType="HashMap">
        SELECT /* priceMapper.getProductDiscountDataByPrdNo */
        FN_PD_DSC_DATA( a.prd_no
        , a.sel_mnbd_no
        , a.disp_ctgr1_no_de
        , a.disp_ctgr2_no_de
        , a.disp_ctgr3_no_de
        , a.disp_ctgr_no_de
        , a.cupn_ex_cd
        , (select nvl(ctgr_cupn_ex_yn, 'N') from dp_disp_ctgr where disp_ctgr_no = a.disp_ctgr_no_de)
        , a.ctgr_pnt_pre_ex_yn
        , a.sel_mthd_cd
        , nvl(
        (select 'Y'
        from    pd_prd_itm pi
        where   pi.use_yn = 'Y'
        and   sysdate between pi.svc_bgn_dy and pi.svc_end_dy
        and   pi.prd_no = a.prd_no
        and   pi.itm_premium_yn = 'Y'
        and	rownum = 1
        ), 'N')
        , 'N'
        , #{selPrc}
        ) AS fn_seller_pd_dsc_info
        FROM PD_PRD a
        WHERE a.PRD_NO = #{prdNo}
    </select>

    <select id="getProductPrice" resultType="PriceVO" parameterType="java.lang.Long">
        SELECT	/* priceMapper.getProductPrice */
            prd_prc_no as prdPrcNo
            ,prd_no as prdNo
            ,evnt_no as evntNo
            ,TO_CHAR(apl_end_dy,'yyyymmddhh24miss') as aplEndDy
            ,TO_CHAR(apl_bgn_dy,'yyyymmddhh24miss') as aplBgnDy
            ,sel_prc as selPrc
            ,buyl_cn_prc as  buylCnPrc
            ,dsc_amt as dscAmt
            ,dsc_rt as dscRt
            ,mrgn_rt as mrgnRt
            ,TO_CHAR (create_dt,'YYYYMMDD') as createDt
            ,create_no as createNo
            ,TO_CHAR (update_dt,'YYYYMMDD') as updateDt
            ,update_no as updateNo
            ,nvl(cupn_use_lmt_qty,0) as cupnUseLmtQty
            ,cupn_dsc_mthd_cd as cupnDscMthdCd
            ,nvl(makt_prc,0) as maktPrc
            ,mrgn_policy_cd as mrgnPolicyCd
            ,puch_prc as puchPrc
            ,mrgn_amt as mrgnAmt
            ,fr_sel_prc as frSelPrc
            ,currency_cd as currencyCd
            ,nvl(cstm_apl_prc, 0)/100  as cstmAplPrc
            ,nvl(paid_sel_prc,0) as paidSelPrc
            ,nvl(prmt_dsc_amt,0) as prmtDscAmt
            ,mp_contract_typ_cd as mpContractTypCd
        FROM PD_PRD_PRC
        where prd_no = #{prdNo}
        AND ( EVNT_NO IS NULL OR EVNT_NO = 0 )
        AND USE_YN = 'Y'
    </select>

    <select id="getPdPrdPrcNo" resultType="long">
        SELECT /* priceMapper.getPdPrdPrcNo */ SEQ_PD_PRD_PRC.NEXTVAL FROM DUAL
    </select>

    <insert id="insertPdPrdPrc" parameterType="PdPrdPrc">
        INSERT /* priceMapper.insertPdPrdPrc */ INTO PD_PRD_PRC (
            PRD_PRC_NO
            ,PRD_NO
            ,EVNT_NO
            ,APL_BGN_DY
            ,APL_END_DY
            ,SEL_PRC
            ,BUYL_CN_PRC
            ,CUPN_DSC_MTHD_CD
            ,DSC_AMT
            ,DSC_RT
            ,CUPN_USE_LMT_QTY
            ,CUPN_USE_QTY
            ,MRGN_RT
            ,USE_YN
            ,CREATE_DT
            ,CREATE_NO
            ,UPDATE_DT
            ,UPDATE_NO
            ,FINAL_DSC_PRC
            ,MAKT_PRC
            ,MRGN_POLICY_CD
            ,PUCH_PRC
            ,MRGN_AMT
            ,FR_SEL_PRC
            ,CURRENCY_CD
            ,CSTM_APL_PRC
            ,PAID_SEL_PRC
            ,PRMT_DSC_AMT
            ,MP_CONTRACT_TYP_CD
        ) VALUES (
            #{prdPrcNo}
            ,#{prdNo}
            ,#{evntNo}
            ,TO_DATE(#{aplBgnDy},'YYYYMMDDHH24MISS')
            ,TO_DATE(#{aplEndDy},'YYYYMMDDHH24MISS')
            ,#{selPrc}
            ,#{buylCnPrc}
            ,#{cupnDscMthdCd}
            ,#{dscAmt}
            ,#{dscRt}
            ,#{cupnUseLmtQty}
            ,#{cupnUseQty}
            ,#{mrgnRt}
            ,#{useYn}
            ,SYSDATE
            ,#{createNo}
            ,SYSDATE
            ,#{updateNo}
            ,#{finalDscPrc}
            ,#{maktPrc}
            ,#{mrgnPolicyCd}
            ,#{puchPrc}
            ,#{mrgnAmt}
            ,#{frSelPrc}
            ,#{currencyCd}
            ,#{cstmAplPrc}*100
            ,#{paidSelPrc}
            ,#{prmtDscAmt}
            ,#{mpContractTypCd}
        )
    </insert>

    <update id="insertPdPrdPrcHist" parameterType="PdPrdPrc">
        INSERT /* priceMapper.insertPdPrdPrcHist */ INTO PD_PRD_PRC_HIST (
            PRD_PRC_NO
            ,HIST_APL_BGN_DT
            ,PRD_NO
            ,EVNT_NO
            ,APL_END_DY
            ,APL_BGN_DY
            ,SEL_PRC
            ,BUYL_CN_PRC
            ,CUPN_DSC_MTHD_CD
            ,DSC_AMT
            ,DSC_RT
            ,CUPN_USE_LMT_QTY
            ,CUPN_USE_QTY
            ,MRGN_RT
            ,CREATE_DT
            ,CREATE_NO
            ,UPDATE_DT
            ,UPDATE_NO
            ,MAKT_PRC
            ,MRGN_POLICY_CD
            ,PUCH_PRC
            ,MRGN_AMT
            ,FR_SEL_PRC
            ,CURRENCY_CD
            ,CSTM_APL_PRC
            ,PRMT_DSC_AMT
            ,MP_CONTRACT_TYP_CD
        )
        SELECT
            PRD_PRC_NO
            ,TO_DATE(#{histAplBgnDt},'YYYYMMDDHH24MISS') AS HIST_APL_BGN_DT
            ,PRD_NO
            ,EVNT_NO
            ,APL_END_DY
            ,APL_BGN_DY
            ,SEL_PRC
            ,BUYL_CN_PRC
            ,CUPN_DSC_MTHD_CD
            ,DSC_AMT
            ,DSC_RT
            ,CUPN_USE_LMT_QTY
            ,CUPN_USE_QTY
            ,MRGN_RT
            ,CREATE_DT
            ,CREATE_NO
            ,UPDATE_DT
            ,UPDATE_NO
            ,MAKT_PRC
            ,MRGN_POLICY_CD
            ,PUCH_PRC
            ,MRGN_AMT
            ,FR_SEL_PRC
            ,CURRENCY_CD
            ,CSTM_APL_PRC
            ,PRMT_DSC_AMT
            ,MP_CONTRACT_TYP_CD
        FROM PD_PRD_PRC
        WHERE PRD_PRC_NO = #{prdPrcNo}
    </update>

    <insert id="insertPdPrdPrcAprv" parameterType="PdPrdPrcAprv">
        INSERT /* priceMapper.insertPdPrdPrcAprv */ INTO PD_PRD_PRC_APRV (
            PRD_PRC_APRV_NO
            ,PRD_NO
            ,APLY_BGN_DY
            ,APRV_STAT_CD
            ,SEL_PRC
            ,MAKT_PRC
            ,PUCH_PRC
            ,MRGN_RT
            ,MRGN_AMT
            ,REQUEST_MNBD_CLF_CD
            ,REQUEST_DT
            ,REQUEST_NO
            ,UPDATE_DT
            ,UPDATE_NO
            ,SEL_MNBD_NO
            ,STOCK_NO
            ,APRV_OBJ_CD
        ) VALUES (
            SEQ_PD_PRD_PRC_APRV.NEXTVAL
            ,#{prdNo}
            ,TO_DATE(#{aplyBgnDy},'YYYYMMDDHH24MISS')
            ,#{aprvStatCd}
            ,#{selPrc}
            ,#{maktPrc}
            ,#{puchPrc}
            ,#{mrgnRt}
            ,#{mrgnAmt}
            ,#{requestMnbdClfCd}
            ,SYSDATE
            ,#{requestNo}
            ,SYSDATE
            ,#{updateNo}
            ,#{selMnbdNo}
            ,#{stockNo}
            ,NVL(#{aprvObjCd}, '01')
        )
    </insert>

    <select id="getPdPrdPluDscInfoList" parameterType="long" resultType="PlusDscVO">
        SELECT /*+ INDEX(A IX1_PD_PRD_PLU_DSC) */
            /* priceMapper.xml getPdPrdPluDscInfoList */
            PLU_DSC_NO,
            PLU_TYP_CD,
            PLU_DSC_APL_YN,
            TO_CHAR(PLU_APL_BGN_DY,'YYYYMMDDHH24MISS') AS pluAplBgnDy,
            TO_CHAR(PLU_APL_END_DY,'YYYYMMDDHH24MISS') AS pluAplEndDy,
            PLU_DSC_CD,
            PLU_DSC_BASIS,
            PLU_DSC_WY_CD,
            PLU_DSC_RT,
            PLU_DSC_AMT,
            USE_YN
        FROM PD_PRD_PLU_DSC
        WHERE PRD_NO = #{prdNo}
    </select>

    <select id="getPdPrdPluDscNo" resultType="long">
        SELECT SEQ_PD_PRD_PLU_DSC.NEXTVAL FROM DUAL
    </select>

    <insert id="insertPdPrdPluDsc" parameterType="PdPrdPluDsc">
        INSERT /* priceMapper.insertPdPrdPluDsc */ INTO PD_PRD_PLU_DSC (
            PLU_DSC_NO
            ,PRD_NO
            ,PLU_TYP_CD
            ,PLU_DSC_APL_YN
            ,PLU_APL_BGN_DY
            ,PLU_APL_END_DY
            ,PLU_DSC_CD
            ,PLU_DSC_BASIS
            ,PLU_DSC_WY_CD
            ,PLU_DSC_RT
            ,PLU_DSC_AMT
            ,USE_YN
            ,SEL_MNBD_NO
            ,CREATE_NO
            ,CREATE_DT
            ,UPDATE_NO
            ,UPDATE_DT
        ) VALUES (
            #{pluDscNo}
            ,#{prdNo}
            ,#{pluTypCd}
            ,#{pluDscAplYn}
            ,TO_DATE(#{pluAplBgnDy}, 'YYYYMMDDHH24MISS')
            ,TO_DATE(#{pluAplEndDy}, 'YYYYMMDDHH24MISS')
            ,'01'
            ,#{pluDscBasis}
            ,#{pluDscWyCd}
            ,#{pluDscRt}
            ,#{pluDscAmt}
            ,#{useYn}
            ,#{selMnbdNo}
            ,#{createNo}
            ,SYSDATE
            ,#{updateNo}
            ,SYSDATE
        )
    </insert>


    <update id="insertPdPrdPluDscHist" parameterType="PdPrdPluDsc">
        INSERT /* priceMapper.insertPdPrdPluDscHist */ INTO PD_PRD_PLU_DSC_HIST (
            PLU_DSC_HIST_NO
            ,PLU_DSC_NO
            ,PRD_NO
            ,PLU_TYP_CD
            ,PLU_DSC_APL_YN
            ,PLU_APL_BGN_DY
            ,PLU_APL_END_DY
            ,PLU_DSC_CD
            ,PLU_DSC_BASIS
            ,PLU_DSC_WY_CD
            ,PLU_DSC_RT
            ,PLU_DSC_AMT
            ,USE_YN
            ,SEL_MNBD_NO
            ,CREATE_NO
            ,CREATE_DT
            ,UPDATE_NO
            ,UPDATE_DT
        )
        SELECT
            SEQ_PD_PRD_PLU_DSC_HIST.NEXTVAL
            ,PLU_DSC_NO
            ,PRD_NO
            ,PLU_TYP_CD
            ,PLU_DSC_APL_YN
            ,PLU_APL_BGN_DY
            ,PLU_APL_END_DY
            ,PLU_DSC_CD
            ,PLU_DSC_BASIS
            ,PLU_DSC_WY_CD
            ,PLU_DSC_RT
            ,PLU_DSC_AMT
            ,USE_YN
            ,SEL_MNBD_NO
            ,CREATE_NO
            ,CREATE_DT
            ,UPDATE_NO
            ,UPDATE_DT
        FROM PD_PRD_PLU_DSC
        WHERE PLU_DSC_NO = #{pluDscNo}
    </update>

    <update id="updatePdPrdPrc" parameterType="PdPrdPrc">
		UPDATE /* priceMapper.updatePdPrdPrc */
			PD_PRD_PRC
		SET
			APL_BGN_DY = TO_DATE(#{aplBgnDy},'YYYYMMDDHH24MISS')
			,APL_END_DY = TO_DATE(#{aplEndDy},'YYYYMMDDHH24MISS')
			,SEL_PRC = #{selPrc}
			,BUYL_CN_PRC = #{buylCnPrc}
			,CUPN_DSC_MTHD_CD = #{cupnDscMthdCd}
			,DSC_AMT = #{dscAmt}
			,DSC_RT = #{dscRt}
			,CUPN_USE_LMT_QTY = #{cupnUseLmtQty}
			,MRGN_RT = #{mrgnRt}
			,USE_YN = #{useYn}
			,FR_SEL_PRC = #{frSelPrc}
			,CURRENCY_CD = #{currencyCd}
			,MAKT_PRC = #{maktPrc}
        <if test="mrgnPolicyCd != ''">
            ,MRGN_POLICY_CD = #{mrgnPolicyCd}
        </if>
        <if test="puchPrc > 0">
            ,PUCH_PRC = #{puchPrc}
        </if>
        <if test="paidSelPrc > 0">
            ,PAID_SEL_PRC = #{paidSelPrc}
        </if>
        <if test="cstmAplPrc > 0">
            ,CSTM_APL_PRC = #{cstmAplPrc}
        </if>
            ,PRMT_DSC_AMT = #{prmtDscAmt}
            ,MP_CONTRACT_TYP_CD = #{mpContractTypCd}
            ,UPDATE_DT = SYSDATE
            ,UPDATE_NO = #{updateNo}
        WHERE
            PRD_PRC_NO = #{prdPrcNo}

    </update>

    <delete id="deletePdPrdPluDscUsingPrdNo" parameterType="PdPrdPluDsc">
		DELETE FROM PD_PRD_PLU_DSC WHERE PRD_NO = #{prdNo}
    </delete>

    <update id="updatePdPrdPrcAprv" parameterType="PdPrdPrcAprv">
        UPDATE /* priceMapper.xml updatePdPrdPrcAprv */
            PD_PRD_PRC_APRV
        SET
            APLY_BGN_DY = TO_DATE(#{aplyBgnDy},'YYYYMMDDHH24MISS')
            ,APRV_STAT_CD = #{aprvStatCd}
            ,SEL_PRC = #{selPrc}
        <if test="maktPrc > 0">
            ,MAKT_PRC = #{maktPrc}
        </if>
        <if test="aprvObjCd == '02'">
            <if test="svcUsePolicy == '01">
                ,PUCH_PRC = (#{selPrc} + ADD_PRC) - ROUND((#{selPrc} + ADD_PRC) * MRGN_RT * 0.01, -1)
                ,MRGN_AMT = ROUND((#{selPrc} + ADD_PRC) * MRGN_RT * 0.01, -1)
            </if>
            <if test="svcUsePolicy == '02">
                ,MRGN_AMT = #{selPrc} + ADD_PRC - PUCH_PRC
                ,MRGN_RT = ROUND(((#{selPrc} + ADD_PRC - PUCH_PRC) / (#{selPrc} + ADD_PRC)) * 100, 2)
            </if>
        </if>
        <if test="aprvObjCd != '02'">
            <if test="puchPrc > 0">
                ,PUCH_PRC = #{puchPrc}
            </if>
            <if test="mrgnRt > 0">
                ,MRGN_RT = #{mrgnRt}
            </if>
            <if test="mrgnAmt > 0">
                ,MRGN_AMT = #{mrgnAmt}
            </if>
        </if>
            ,REQUEST_MNBD_CLF_CD = #{requestMnbdClfCd}
            ,UPDATE_DT = SYSDATE
            ,UPDATE_NO = #{updateNo}
            ,SEL_MNBD_NO = #{selMnbdNo}
        WHERE
          PRD_NO = #{prdNo}
        <if test="aprvObjCd == ''">
            AND NVL(APRV_OBJ_CD, '01') = '01'
        </if>
        <if test="aprvObjCd != ''">
            AND NVL(APRV_OBJ_CD, '01') = #{aprvObjCd}
        </if>
    </update>

    <update id="updateProductOptionPurchaseInfo" parameterType="PdStock">
        UPDATE /* priceMapper.xml updateProductOptionPurchaseInfo */
          PD_STOCK
        SET
            PUCH_PRC = #{puchPrc}
            ,MRGN_RT = #{mrgnRt}
            ,MRGN_AMT = #{mrgnAmt}
            ,UPDATE_DT = TO_DATE(#{updateDt}, 'YYYYMMDDHH24MISS')
            ,UPDATE_NO = #{updateNo}
        WHERE
          PRD_NO = #{prdNo}
    </update>

    <update id="updatePdPrdPrcAprvDate" parameterType="PdPrdPrc">
        UPDATE /* priceMapper.xml updatePdPrdPrcAprvDate */
            PD_PRD_PRC
        SET
            APL_BGN_DY = TO_DATE(#{aplBgnDy},'YYYYMMDDHH24MISS')
            ,APL_END_DY = TO_DATE(#{aplEndDy},'YYYYMMDDHH24MISS')
            ,USE_YN = #{useYn}
            ,UPDATE_DT = SYSDATE
            ,UPDATE_NO = #{updateNo}
        WHERE
            PRD_PRC_NO = #{prdPrcNo}
    </update>
    
    <select id="getCurrentDirectPrdCoupon" parameterType="long" resultType="PriceVO">
        SELECT    /* priceMapper.xml getCurrentDirectPrdCoupon */
            X.ISS_CN_BGN_DT AS issCnBgnDt
            ,X.ISS_CN_END_DT AS issCnEndDt
            ,X.DSC_AMT AS dscAmt
            ,X.DSC_RT AS dscRt
            ,X.CUPN_DSC_MTHD_CD AS cupnDscMthdCd
        FROM
        (
            SELECT  /*+ ORDERED USE_NL(A B) */
                B.CUPN_NO,
                B.CUPN_NM,
                B.CUPN_ISS_MNBD_NO, B.CUPN_ISS_MNBD_CLF_CD,
                B.CUPN_COST_DFRM_MNBD_CLF_CD, B.MO_COST_DFRM_RT, B.CUPN_APL_OBJ_CLF_CD,
                B.CUPN_KD_CD, B.CUPN_ISS_WY_CD, B.CUPN_DSC_MTHD_CD, B.DSC_AMT,
                B.DSC_RT, B.MAX_DSC_AMT, B.CUPN_TYP_CD, B.RPDT_ISS_ALLW_YN,
                B.RPDT_ISS_ALLW_QTY, B.GFT_ALLW_YN, B.RPDT_CRTF_NO_YN, B.MIN_ORD_AMT,
                B.WIRE_WIRELSS_CLF_CD, B.CUPN_URL,
                TO_CHAR (B.ISS_CN_BGN_DT, 'YYYYMMDDHH24MISS') ISS_CN_BGN_DT,
                TO_CHAR (B.ISS_CN_END_DT, 'YYYYMMDDHH24MISS') ISS_CN_END_DT,
                B.CUPN_EFTV_PRD_BASI_CD, B.ISS_DT_BASI_DD_QTY,
                TO_CHAR (B.EFTV_BGN_DT, 'YYYYMMDDHH24MISS') EFTV_BGN_DT,
                TO_CHAR (B.EFTV_END_DT, 'YYYYMMDDHH24MISS') EFTV_END_DT,
                B.CUPN_ISS_STAT_CD, B.ISU_QTY, B.RST_QTY, B.FEE_DSC_CUPN_APL_CLF_CD,
                B.DISP_ITM_CUPN_APL_DY_QTY,
                TO_CHAR (B.APRV_DT, 'YYYYMMDDHH24MISS') APRV_DT, B.APRV_NO,
                TO_CHAR (B.CREATE_DT, 'YYYYMMDDHH24MISS') CREATE_DT, B.CREATE_NO,
                TO_CHAR (B.UPDATE_DT, 'YYYYMMDDHH24MISS') UPDATE_DT, B.UPDATE_NO,
                ROW_NUMBER() OVER(PARTITION BY  B.CUPN_ISS_MNBD_CLF_CD ORDER BY B.CUPN_NO DESC) RNK
            FROM
                MT_CUPN_APL_EXCLD_RNG A, MT_CUPN B
            WHERE
                A.CUPN_EFTV_OBJ_NO = #{prdNo}				/* 상품 NO */
            AND A.CUPN_EFTV_OBJ_CLF_CD ='02'
            AND A.USE_YN = 'Y'
            AND A.CUPN_ISS_STAT_CD_DE = '03'
            AND A.CUPN_DISP_CD = '01'	                    /* PCS 쿠폰 아닌 즉시할인쿠폰만 */
            AND A.CUPN_NO = B.CUPN_NO
            AND B.CUPN_ISS_MNBD_CLF_CD = '02' 		        /* 발급주체구분코드(SO)  */
            AND B.CUPN_KD_CD = '01'                         /* 쿠폰종류 : 상품할인  */
            AND B.CUPN_ISS_WY_CD = '03'                     /* 발급방법 : 즉시할인쿠폰  */
            AND B.CUPN_ISS_STAT_CD = '03'                   /* 쿠폰상태 : 발행  */
            AND SYSDATE BETWEEN B.ISS_CN_BGN_DT AND B.ISS_CN_END_DT
        ) X
        WHERE X.RNK = 1
    </select>

    <!-- 에누리 최저가 정보 조회  -->
    <select id="getEnuriProductInfo" resultType="EnuriProductVO" parameterType="long">
        SELECT
        price1,
        modelno
        FROM co_enr_prd_detail
        WHERE product_id = #{prdNo}
        AND totz_date = (SELECT /*+ INDEX_DESC(A IX1_CO_ENR_PRD_DATE)*/TOTZ_DATE
        FROM CO_ENR_PRD_DATE A
        WHERE TOTZ_DATE <![CDATA[<=]]> TO_CHAR(SYSDATE +1,'YYYYMMDD')
        AND ROWNUM = 1)
        /* priceMapper.getEnuriProductInfo */
    </select>
</mapper>